<!DOCTYPE html>
<html lang="en">

<head>
    <title>FIR</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <style type="text/css">
        body {
            margin: 0px;
            padding: 0px;
            background-position: center center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            background-color: rgb(200, 200, 200);
        }

        .box {
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            border: 2px solid grey;
            box-shadow: 2px 2px 2px 2px grey;
            padding: 15px;
            border-radius: 7px;
            background-color: white;
            ;
        }
    </style>
</head>

<body>

    <div class="box">
        Name: <%= data.name %> <br>
        Aadhaar Number: <%= data.aadhaar_number %> <br>
        Document: <%= data.document %> <br>
        Date Created: <%= data.data_created %> <br>
        Current Status: <%= data.status %> <br>
    </div>

</body>

</html>